name: Build LaTeX document
on:
  push:
    branches:
      - master
jobs:
  build_latex:
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: Apt Install
        run: sudo apt install pandoc
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: "3.11"
          activate-environment: fall-prob-paper
          environment-file: fall-prob-paper-env.yml
          miniforge-version: latest
      - name: Create figures
        shell: bash -el {0}
        run: |
          python src/control.py
          python src/generate_time_series_imgs.py
          Rscript src/statistics.R
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex
      - name: Upload PDF file
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: main.pdf
      - name: Generate HTML version
        run: pandoc -o index.html -s --mathjax main.tex
      - name: Setup deploy folder
        run: |
          mkdir ghpages
          mv index.html ghpages/index.html
          mv main.pdf ghpages/main.pdf
      - name: Push PDF to ghpages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ghpages
          single-commit: true
