name: Build LaTeX and HTML Versions
on:
  push:
    branches:
      - master
jobs:
  build_latex:
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
      - name: Set Up Git Repository
        uses: actions/checkout@v4
      - name: Install Dependencies with APT
        run: sudo apt install pandoc
      - name: Install and Set Up Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: fall-prob-paper
          auto-update-conda: true
          environment-file: fall-prob-paper-env.yml
          miniforge-version: latest
          python-version: "3.11"
      - name: Create Figures
        shell: bash -el {0}
        run: |
          python src/control.py
          python src/generate_time_series_imgs.py
          Rscript src/statistics.R
      - name: Compile LaTeX PDF
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex
      - name: Generate HTML Version
        run: pandoc -o index.html -s --mathjax main.tex
      - name: Setup Deploy Folder
        run: |
          mkdir -p ghpages/figures
          mv index.html ghpages/index.html
          cp figures/* ghpages/figures/
          mv main.pdf ghpages/HaitjemaAlizadehSaraviMoore2024.pdf
      - name: Push Files to ghpages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ghpages
          single-commit: true
